<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1> 
<p><%= t(".message_about_html", :href1 => link_to(t(".rorT"), t(".url_ror_w")), :href2 => link_to(t(".book"), t(".url_book")), :href3 => link_to(t(".screencast"), t(".url_screencasts")), :href4 => link_to(t(".ror"), t(".url_ror"))) %></p>
