<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1> 
<p><%= t(".message_help_html", href1: link_to(t(".rails_help"), t(".url_help")), href2: link_to(t(".rails_book"), t(".url_book"))) %></p>
